<nav>
  <div class="nav-in">
    <picture class="mark-wrap" aria-hidden="true">
      <source media="(prefers-color-scheme: dark)" srcset="/assets/images/icon/ms-icon-144x144.png">
      <img class="mark" src="/assets/images/icon/ms-icon-144x144.png" alt="" width="34" height="34">
    </picture>
    <span class="wordmark">Retractor<b>DB</b></span>
    <div class="nav-links">
      <a href="https://arxiv.org/abs/2607.07730">Paper</a>
      <a href="https://dokumentacja.retractordb.com">Docs</a>
      <a href="https://github.com/michalwidera/retractordb">GitHub</a>
      <a href="/trademark/">Trademark</a>
    </div>
  </div>
</nav>
